<footer>
  <!-- your footer content -->

<div class="f-info">
    <div class="f-info-socials">
        <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram" style="color: #f671eb;"></i></a>
        <a href="https://twitter.com" target="_blank"><i class="fa-brands fa-x-twitter" style="color: #090908;"></i></a>

    </div>
    <div class="f-info-brands">&copy StayWild Private Limited</div>
    <div class="f-info-links">
        <a href="/privacy">Privacy</a>&nbsp; &nbsp; &nbsp;
        <a href="/terms">Terms</a>
    </div>
</div>
</footer>