<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
    <button class="navbar-toggler" type="button" 
    data-bs-toggle="collapse" 
    data-bs-target="#navbarNavAltMarkup"
    >
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav me-auto"> 
        <a class="nav-link" href="/listings">Explore</a>
      </div>

    <% if (!currentPath.startsWith('/privacy') && !currentPath.startsWith('/terms')) { %>
      <div class="navbar-nav">
          <form class="d-flex" role="search" method="GET" action="/listings"  onsubmit="if(!this.search.value.trim()) return false;">
            <input class="form-control me-2 search-inp" type="search" placeholder="Search Destinations" name="search"/>
            <button class="btn search-btn" type="submit">
              <i class="fa-solid fa-magnifying-glass"></i>Search
            </button>
          </form>
      </div>
      <% } %>

      
      <div class="navbar-nav ms-auto">
        <a class="nav-link d-none d-md-block" href="/listings/new">Become a host</a>
      </div>
     
    <div class="dropdown ms-2">
      <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown">
        <i class="fa-solid fa-circle-user"></i> 
      </button>
         
      <ul class="dropdown-menu dropdown-menu-end ">
        <li><a href="/listings/new" class="dropdown-item d-md-none">Become a host</a></li>
        <li><hr class="dropdown-divider d-md-none"></li>


        <% if(currUser) { %>
        <li><span class="dropdown-item fw-bold"><%= currUser.username %></span>
        </li>
        <li>
          <form method="GET" action="/logout">
            <button class="dropdown-item" type="submit">Log Out</button>
          </form>
        </li>
        <% } %>
        <% if(!currUser) { %>
        <li>
          <a href="/signup" class="dropdown-item">Sign Up</a>
        </li>
        <li>
            <a href="/login" class="dropdown-item">Log in</a>
        </li>
        <% } %>
      </ul>
   
    </div>
  </div>
  </div>
</nav>